@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


button {
    position: relative;
    background-color: #000000; /* Green */
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /* font-size: 1.25rem; */
    /* top: 50%; */
    /* left: 25%; */
    width: 300px;
    margin: 10px auto;
    align-items: center;
    border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal{
    background-color: #cecece;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 30px;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    border: 2px solid black;
}

button:hover{
    background-color: #828282;
}

h2{
    font-family: 'Amatic SC', sans-serif;
    font-weight: 900;
    font-size: xx-large;
}

.waitingRoomh2{
    color: white;
}

h3{
    color:aqua;
}

h4{
    color:white;
}

output{
    color:white;
}

.nickname{
    margin: auto;
}

input{
    width: 200px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 1px solid white;
    /* height: */
}

.center{
    width: 100%;
    display: flex;
    flex-direction: column; /* To center vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh;
    /* margin: auto; */
}

.enter{
    width: 70px;
    height: 40px;
    padding: 0px 0px;
    margin-left: 5px;
    font-size:24px;
    border: 1px solid white;
}

.enter2{
    width: 80px;
    height: 40px;
    padding: 0px 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-size:24px;
    border: 1px solid white;
}

.back{
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 60px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: large;
    padding: 5px 5px;
    margin: 0px;
}

.inputdiv{
    height: 40px;
    width: 300px;
    margin: 10px;
    /* border: 1px solid white; */
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

.Pages{
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
}

main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

.slider-parent{
    position:relative;
}

.text-in-box{
    width: 50%;
    height: 100vh;
    border: 2px solid white;
    padding: 10px;
    margin-top: 10vh;
}

.player-lobby{
    border: 2px solid white;
    padding: 10px;
    height: 80vh;
    width: 50%;
    margin: 10vh 0 10vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
